
@font-face {
    font-family: 'besom_2regular';
    src: url('besom-free-font-webfont.eot');
    src: url('besom-free-font-webfont.eot?#iefix') format('embedded-opentype'),
         url('besom-free-font-webfont.woff2') format('woff2'),
         url('besom-free-font-webfont.woff') format('woff'),
         url('besom-free-font-webfont.ttf') format('truetype'),
         url('besom-free-font-webfont.svg#besom_2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
